<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" href="/semantic.min.css">
</head>

<body>
    <div class="ui inverted segment">
        <div class="ui inverted">
            <h1>Book</h1>
        </div>
        <div class="ui inverted divider"></div>
        <div class="ui inverted menu">
            <a href="/Book/form" class="header item">Form</a>
            <a href="/Book" class="header item">Results</a>
        </div>
    </div>